.bandLink {
  border: solid 1px #fff;
  margin-bottom: 35px;
  margin-top: 35px;
  padding: 10px;
  width: 400px;
}

.bandLink:hover {
  color: red;
}

.info-container {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}