.albumList {
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.albumTitle {
  display: inline-block;
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
  width: 400px;
}